<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= book.edition %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher %>
  </p>

  <p>
    <strong>Quntity:</strong>
    <%= book.quantity %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= book.rate || '-' %>
  </p>

  <%= button_to('borrow', book_borrower_records_path(book.id), method: :post) %>
</div>
